<!doctype html>
<html lang="en">

<head>
    <title>Nestjs Base</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('./common/head') %>
</head>

<body>
    <p align="center" dir="auto">
        <a href="http://nestjs.com/" rel="nofollow"><img src="/img/nestjs.svg" width="200" alt="Nest Logo"
                style="max-width: 100%;"></a>
    </p>
    <p align="center" dir="auto">A progressive <a href="http://nodejs.org" rel="nofollow">Node.js</a> framework for
        building efficient and scalable server-side applications.</p>
        <%- include('./common/script') %>
</body>

</html>